
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                  <div class="active item">
                    <img src="assets/style.jpg" alt="">
                    <div class="carousel-caption">
                      <h4>PUT A LITTLE KICK IN YOUR STEP!</h4>
                      <p>Lambertville Suitcase Drum is a vintage suitcase recycled into a highly versatile and great sounding bass drum.  One-of-a-kind Vintage Models will run you $249, while the basic "Acme" Model will get you going at $199.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="assets/footprint.jpg" alt="">
                    <div class="carousel-caption">
                      <h4>BIG FOOT, SMALL FOOTPRINT</h4>
                      <p>This kick can fit into the smallest of spaces.  Dorm rooms, sheds, VW busses.  Coat pockets, coming soon...</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="assets/volume.jpg" alt="">
                    <div class="carousel-caption">
                      <h4>WON'T YOU BE MY NEIGHBOR?</h4>
                      <p>Don't keep your neighbors up at night!  This kick's volume is easily controllable.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="assets/travel.jpg" alt="">
                    <div class="carousel-caption">
                      <h4>MOVE THE BEAT TO YOUR FEET</h4>
                      <p>No more lugging that awkward, oversized barrel around with you.  Bring it just about anywhere: on roadtrips, up mountains, on boxcars. Wherever you go, the beat will follow.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="assets/live.jpg" alt="">
                    <div class="carousel-caption">
                      <h4>MORE SUITCASE IN THE MONITORS, PLEASE?</h4>
                      <p>This one "goes to eleven" with the addition of a simple and inexpensive piezo mic that fits in a pocket. Even without the mic, you can still hear it over a crowded room of guitarists.  From club to curb, the LSD is designed to sound great!</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="assets/busking2.jpg" alt="">
                    <div class="carousel-caption">
                      <h4>GO ON TOUR... OR JUST DO MORE!</h4>
                      <p>Who knows where your LSD will take you? The places you'll go, the people you'll meet, all you must do, is get out on the street.</p>
                      <p><em>One of these days they know they gotta get goin', Out of the door and down on the streets all alone...</em></p>
                    </div>
                  </div>
                </div>
                
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
            

            <!-- Example row of columns -->
            <div class="row">
                <div class="span4">
                    <img src="assets/lsd-logo.png" style="float:left; width:30%;"><h2 class="callout">Sticks&#8217; Kicks</h2>
                    <p>My name is Pat McSherry, but most people around Lambertville know me as "Sticks".  My story is simple: I needed a kit that could
                    fit in my buddy's shed and wouldn't wake the neighbors during our late night jam sessions. So I made one.</p>
                    <p><a class="btn btn-warning" href="#">Hear my story &raquo;</a></p>
               </div>
                <div class="span4">
                    <h2 class="callout">&ldquo;Case&rdquo; Studies</h2>
                    <p>The LSD has been designed to meet a number of specific purposes (needs?).
                    First of all, <a href="#">it saves space</a>.  Second, it's highly versatile: use it live, use it acoustic - either way, <a href="#">the sound is great</a>.
                    It's great for <a href="#">drummers on the go</a>, or
                    <a href="#">one-man-bands</a> (<a href="#">All parts fit in the suitcase</a>).  It <a href="#">won't keep your neighbors up</a> at night.  <a href="#">It is eco-friendly and recycles stuff that people throw out.
                    And finally, it just looks cool.  People will stop to check you out.  In short, the LSD puts a little kick in your step!</p>
                    <p><a class="btn btn-warning" href="#">Testimonials on versatility &raquo;</a></p>
                </div>
                <div class="span4">
                    <h2 class="callout">Baggage Claim</h2>
                    <p>Every month I rescue more suitcases of all different shapes and styles from landfills. Wanna see what's coming down the pike?  Hitch a ride on my montly email list and we will send you updates of our latest
                    vintage finds, so you can have the pick of the litter.  If you see a design you like, you can pre-order that suitcase and
                    I'll prioritize it's production. What are you waiting for? Get on the bus!
                    </p>
                    <p><%= link_to "Get our monthly emails", store_path(), class: "btn btn-warning"  %></p>
                </div>
            </div>
